@font-face {
  font-family: "Medieval";
  src: url("src/font/Berkahi Blackletter.ttf"); }

@keyframes player1 {
  /* Tous les autres navigateurs */
  0% {
    transform: translateX(-1000px); }
  50% {
    transform: translateX(275px); }
  100% {
    transform: translateX(0px); } }

@keyframes player2 {
  /* Tous les autres navigateurs */
  0% {
    transform: translateX(1000px); }
  50% {
    transform: translateX(-275px); }
  100% {
    transform: translateX(0px); } }

@keyframes logGame {
  /* Tous les autres navigateurs */
  0% {
    transform: translateY(1000px); }
  100% {
    transform: translateY(0px); } }

@keyframes vs {
  /* Tous les autres navigateurs */
  0% {
    transform: translateY(1000px); }
  100% {
    transform: translateY(0px); } }

body {
  background-image: url(../image/wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center; }

header {
  text-align: center;
  color: white; }
  header h1 {
    font-size: 80px;
    font-weight: 700;
    font-style: italic;
    background-image: url(https://img3.stockfresh.com/files/d/dvarg/m/27/1857400_stock-photo-bright-fiery-star.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }

.main {
  display: flex;
  justify-content: space-around; }
  .main .player-1 {
    animation: player1 1s;
    display: grid;
    grid-template-columns: 0.5fr 5fr;
    grid-template-rows: 0.15fr 5fr 0.1fr 0.15fr;
    grid-template-areas: 'yield name' 'vide player' 'vide health' 'vide btn'; }
    .main .player-1 .name {
      grid-area: name;
      text-align: center; }
      .main .player-1 .name h3 {
        padding: 5%;
        font-size: 30px;
        border: 5px solid #997d00;
        text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
        background-color: #ff6600; }
    .main .player-1 .img-name {
      grid-area: player;
      display: flex;
      justify-content: center;
      align-items: center; }
      .main .player-1 .img-name img {
        max-height: 500px;
        border: 15px solid black;
        border-radius: 5%; }
    .main .player-1 .health-bar {
      grid-area: health;
      margin-top: 5%;
      margin-bottom: 5%; }
      .main .player-1 .health-bar .file {
        height: 20px;
        width: 100%; }
    .main .player-1 .hit1:active .img-name {
      animation: masuperanimation 1s; }
    .main .player-1 .action-btn {
      grid-area: btn;
      text-align: center;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .main .player-1 .action-btn .hit1 {
        font-size: 40px;
        text-decoration: none;
        color: white;
        width: 150px;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #682424;
        border: 1px solid #ebd55a; }
      .main .player-1 .action-btn .heal1 {
        font-size: 40px;
        text-decoration: none;
        color: white;
        width: 150px;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #884e1e;
        border: 1px solid #ebd55a; }
    .main .player-1 .yield-btn {
      grid-area: yield;
      width: 50px; }
      .main .player-1 .yield-btn a {
        background-color: red;
        padding: 10% 15%;
        border-radius: 50%;
        text-decoration: none;
        color: black; }
  .main .player-2 {
    animation: player2 1s;
    display: grid;
    grid-template-columns: 5fr 0.5fr;
    grid-template-rows: 0.15fr 5fr 0.07fr 0.15fr;
    grid-template-areas: 'name yield' 'player vide' 'health vide' 'btn vide'; }
    .main .player-2 .name {
      grid-area: name;
      text-align: center; }
      .main .player-2 .name h3 {
        padding: 5%;
        font-size: 30px;
        border: 5px solid #997d00;
        text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
        background-color: #005e75; }
    .main .player-2 .img-name {
      grid-area: player;
      display: flex;
      justify-content: center;
      align-items: center; }
      .main .player-2 .img-name img {
        max-height: 500px;
        border: 15px solid black;
        border-radius: 5%; }
    .main .player-2 .health-bar {
      grid-area: health;
      margin-top: 5%;
      margin-bottom: 5%; }
      .main .player-2 .health-bar .file {
        height: 20px;
        width: 100%; }
    .main .player-2 .action-btn {
      grid-area: btn;
      text-align: center;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .main .player-2 .action-btn .hit2 {
        font-size: 40px;
        text-decoration: none;
        color: white;
        width: 150px;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #682424;
        border: 1px solid #ebd55a; }
      .main .player-2 .action-btn .heal2 {
        font-size: 40px;
        text-decoration: none;
        color: white;
        width: 150px;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #884e1e;
        border: 1px solid #ebd55a; }
    .main .player-2 .yield-btn {
      grid-area: yield;
      width: 50px;
      text-align: right; }
      .main .player-2 .yield-btn a {
        background-color: red;
        padding: 10% 15%;
        border-radius: 50%;
        text-decoration: none;
        color: black; }

.log {
  animation: logGame 2s;
  border: 2px solid white;
  margin: -5% 37% 0% 37%;
  height: 230px; }
  .log h1 {
    border-bottom: 2px solid white;
    color: white;
    font-size: larger;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%; }
  .log .log-flow {
    overflow: auto;
    height: 205px; }
    .log .log-flow p {
      color: white; }
